* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    margin: 0 auto;
}

.accordion__item {
    width: 90vw;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
    list-style-type: none;
}

label {
    cursor: pointer;
}

.item__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0D6CFD;
    color: white;
    transition: all 0.5s;
}

.accordion:hover .item__radio:not(:checked)+label .item__title{
    background-color: #0B5CD6;
}

.item__title span {
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s;
}

.accordion:hover .item__title>span {
    opacity: 1;
}

.item__radio {
    appearance: none;
    height: 0;
    width: 0;
}

.item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
}

.accordion__item:hover .item__content {
    max-height: 40rem;
}

.meme {
    width: 35rem;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.item__radio:checked+label .item__content {
    max-height: 40rem;
}

.item__radio:checked+label span {
    transform: rotate(45deg);
}
